/* RESET------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(246, 248, 249)
}

header{
    background-color: rgb(30, 255, 0);
    padding-top: 8px;
    padding-bottom: 8px;
}

#contenitore-logo-header {
    background-color: aqua;  
}

