/* RESET------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
/* // RESET------------ */


body {
    font-family: Arial, sans-serif;
    background-color: rgb(233, 235, 236)
    
}

header{
    background-color: rgb(30, 255, 0);
    padding-top: 8px;
    padding-bottom: 8px;
}

#contenitore-logo-header {
    background-color: aqua;  
}



nav, section {
    background-color: rgba(255, 0, 98, 0.411);
    margin-left: 18%;
    margin-right: 18%;        
    padding-left: 60px;
    padding-right: 60px;      
}

nav{
    margin-top: 50px; 
    margin-bottom: 5px;          
    padding-top: 10px; 
    padding-bottom: 10px;
}

section {    
    margin-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}


section > ul> li {    
    padding-bottom: 30px;
}




.provagrandezza {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;

}





nav button {
    border: 1px solid silver;
    border-radius: 15%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#button-add-task {
    background-color: rgb(20, 170, 245);

}
#button-add-section {   
    background-color: white;
    
}





.spunta {
    border: 1px solid black;
    border-radius: 50%;
   
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;
}
.spunta.green {
    color: green;
    border-color: green;
}
.spunta.red {
    color: red;
    border-color: red;
}





/* bottoni  */
.button {   
    color: white;
    border: 1px solid rgba(20, 170, 245, 0);
    border-radius: 25%;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;     
}

.button-editorial {   
    background-color: rgb(20, 170, 245);
}


.button-q1-goals {   
    background-color: rgb(171, 93, 230);
}

.button-recruiting {   
    background-color: rgb(93, 230, 212);
}

.button-mobile {   
    background-color: rgb(230, 175, 93);
}
.button-website {   
    background-color: rgb(230, 93, 230);
}
.button-sales {   
    background-color: rgb(104, 230, 93);
}

/* //    bottoni  */





h1 {
    display: inline-block;

}

.freccia-in-giu {
    display: inline-block;

    font-size: 10px;

}







/* 

cosa manca?
fare la lista ul e li
e capire come far salire la freccietta piccola 
                                                e il segno di spunta
allargare la X (&#10060; o &#9747; 




*/